@mixin logoFont() {
	font-family: "changeling-neo-stencil",sans-serif;

}

@mixin animate() {
	  -webkit-transition: all 0.3s linear;  
          transition:  all 0.3s linear;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	font-family: "Raleway";
	font-weight: 100;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../css/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../css/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../css/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../css/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../css/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

