section.listing{
		width: 768px;
		height: 200px;
		display: block;
		margin: 10px;
		padding: 20px;
		border: 1px #d5d5d5 dashed;
		margin: 10px auto;

		ul {
			list-style-type: none;

			li {
				display: inline-block;
				display: inline-block;
				margin: 0px 3px 10px;
				font-size: 25px;
			}
		}

		.gallery {
			img {
				display: inline-block;
				width: auto;
				height: 150px;
			}
		}

		span {
			&.down {
				float: left;
				text-align: left;
				padding: 0 20px;
			}
			&.monthly {
				float: right;
				text-align: right;
				padding: 0 20px;
			}
		}

	}
