section.listing{
		width: 768px;
		height: 200px;

		ul {
			list-style-type: none;

			li {
				display: inline-block;

			}
		}

		.gallery {
			img {
				display: inline-block;
				width: auto;
				height: 150px;
			}
		}

	}
