section.listing{
		width: 768px;
		height: 200px;
		display: block;
		margin: 10px;
		padding: 20px;
		border: 1px #d5d5d5 dashed;
		margin: 30px auto;


		.gallery {
			img {
				display: inline-block;
				width: auto;
				height: 150px;
			}
		}

		span {
			&.details {
				display: block;
				background-color: red;
				padding: 5px;
				float: right;
				margin-right: 20px;
				margin-top: -30px;
				color: #ffffff;
			}
			&.title {
				display: block;
				background-color: red;
				padding: 5px;
				font-size: 25px;
				float: left;
				margin-right: 20px;
				margin-top: -30px;
				color: #ffffff;
			}
		}

	}
