{% extends 'templates/base.html' %}
{% block superclass %}admin{% endblock %}


{% block content %}

{% if auth.length == 0 %}
<form method="POST" action="/admin-panel">
	<input type="text" placeholder="username" name="user" />
	<input type="password" placeholder="password" name="password" />
	<input class="button" type="submit" name="submit" value="login" />
	{% if msg %}
		<p>{{msg}}</p>
	{% endif %}
</form>
{% else %}
	<ul class="tools">
		<li><a href="/admin-panel/create/special">specials</a></li>
	</ul>
{% endif%}



{% endblock %}