{% extends 'templates/base.html' %}
{% block site-title %} Auto Leasing {% endblock %}

{% block ga-tracking %} 'homepage' {% endblock %}
{% block scripts %}
{% parent %}
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/carousel.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

{% endblock %}

{% block styles %}
{% parent %}
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
{% endblock %}

{% block content %}
	{% include 'templates/carousel.html' %}

<video id="myVideo" controls>
   <source src="media/bliss.mp4" type="video/mp4">
   Your browser does not support the video element.
</video>

{% endblock %}