{% extends 'templates/base.html' %}
{% block site-title %} Auto Leasing {% endblock %}

{% block ga-tracking %} 'homepage' {% endblock %}
{% block scripts %}
{% parent %}
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/carousel.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

{% endblock %}

{% block styles %}
{% parent %}
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
{% endblock %}

{% block content %}

	
<!--

<section class="ad">
	<video id="myVideo" controls>
	   <source src="media/lexus720.mp4" type="video/mp4">
	   Your browser does not support the video element.
	</video>	
</section>

<section class="intro">
	{% include 'templates/carousel.html' %}
</section>
<section class="instagram">
	<script src="http://instansive.com/widget/js/instansive.js"></script><iframe src="http://instansive.com/widgets/o2d2119c3c6b3d38ad146ed6a082b29f.html" scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</section> 

-->


<section class="vehicles">
	<div class="vehicles-1" data-page="1">
		<ul>
			{% for make in makes.responseJSON %}
					<li>{{ make }}</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}

