{% extends 'templates/base.html' %}
{% block superclass %}admin specials{% endblock %}


{% if admin %}
{% block scripts %}
{% parent %}
<script type="text/javascript" src="js/sa.js"></script>
{% endblock %}
{% endif %}

{% block styles %}
{% parent %}
	<link rel="stylesheet" type="text/css" href="/css/specials.css">
{% endblock %}


{% block content %}



{% for item in list %}
	<section class="listing">
	<span class="details">{{item.downPayment}} down / {{item.monthlyPayment}} per month</span>
	<span class="title">{{ item.year }}  {{ item.make }}  {{ item.model }}  {{ item.package }}</span>

	<div class="gallery">
		{% for items in item.photos %}
			{% for file in items %}
				<img src="{% filter replace("/root/auto-leasing/static", "", "g") %}{{ file.path }}{% endfilter %}">
			{% endfor %}
		{% endfor %}
	</div>

	{{ item }}

	{% if admin %}
		{% for item._id object as id %}
			{{ id }}
			<a href="#" class="js-edit-btn" data-item="">edit</a>
			<a href="#" class="js-add-photo-btn">add photo</a>
		{% endfor %}
	{% endif %}
	</section>
{% endfor %}

 

{% endblock %}

