<!DOCTYPE html>
<html>
<head>
	<title>{% block site-title %}{% endblock %}</title>
    {% block meta-tags %}{% include 'meta.html' %}{% endblock %}

	{% block scripts %}
		<script type="text/javascript" src="//use.typekit.net/xzk8ysq.js"></script>
	{% endblock %}

	{%block styles %}
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	{% endblock %}
</head>
<body class="{%block superclass %}{% endblock %}">

{% include 'nav.html' %}

<section class="content-container">
	{% block content %}{% endblock %}

</section>

{% block footer %}{% include 'footer.html' %}{% endblock %}

</body>
</html>

