{% extends 'base.html' %}
{% block superclass %}admin{% endblock %}


{% block content %}

	<section class="create">
		<form method="POST" enctype="multipart/form-data" action="/dashboard/view/specials">
			<span class="label">create new special</span>
			<input type="text" placeholder="year" name="year" />
			<input type="text" placeholder="make" name="make" />
			<input type="text" placeholder="model" name="model" />
			<input type="text" placeholder="package" name="package" />
			<input type="text" placeholder="down payment" name="downPayment" />
			<input type="text" placeholder="monthly payment" name="monthlyPayment" />
			<input type="text" placeholder="desc" name="desc" />
			<input type="file" name="files" />
			<input class="button" type="submit" name="submit" value="create" />
			{% if msg %}
				<p>{{msg}}</p>
			{% endif %}
		</form>
	</section>




{% endblock %}