<section>
<footer>
	<ul class="footer-list">
		<li class="footer-list-item-title">Specials</li>
		<li class="footer-list-item">{{ make }}</li>
	</ul>
	<ul class="footer-list">
		<li class="footer-list-item-title">Tools</li>
		<li class="footer-list-item">Application</li>
		<li class="footer-list-item">Budget Calculator</li>
		<li class="footer-list-item">What car can I afford</li>
	</ul>
	<ul class="footer-list">
		<li class="footer-list-item-title">Contact</li>
		<li class="footer-list-item">Call us</li>
		<li class="footer-list-item">Email us</li>
	</ul>
	<ul class="footer-list">
		<li class="footer-list-item-title">Social</li>
		<li class="footer-list-item"><a href="http://www.facebook.com/blissautoteam" title="Like us on Facebook">Like us on Facebook</a></li>
		<li class="footer-list-item"><a href="http://www.twitter.com.com/blissautoteam" title="Follow us on Twitter">Like us on Twitter</a></li>
	</ul>
</footer>
</section>
