* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-family: "Raleway";
  font-weight: 100; }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("../css/fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../css/fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../css/fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../css/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../css/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../css/fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #ffffff;
  height: 100%; }
  body .nav-bar {
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px #eae9e9 solid;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    margin-bottom: 100px;
    left: 0px; }
    body .nav-bar nav {
      position: relative;
      display: block;
      min-width: 768px;
      margin: 0 auto;
      text-align: center;
      line-height: 50px;
      padding: 5px; }
      body .nav-bar nav h1 {
        text-indent: -9999px;
        background: url(../images/site/logo-transparent.png) no-repeat top center;
        background-size: 150px auto;
        font-size: 40px;
        margin-top: 5px; }
      body .nav-bar nav h2 {
        display: none; }
      body .nav-bar nav ul {
        list-style-type: none; }
      body .nav-bar nav .menu {
        float: left;
        width: 85px;
        height: 22px;
        background-color: red;
        color: #ffffff;
        padding: 5px;
        margin: 14px 2px;
        font-size: 17px;
        line-height: 24px;
        cursor: pointer;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
        body .nav-bar nav .menu:hover {
          box-shadow: 0px 0px 15px gray; }
      body .nav-bar nav .social-bar {
        float: right; }
        body .nav-bar nav .social-bar li {
          display: inline-block;
          width: 40px;
          margin-right: 5px;
          background-color: darkgray;
          margin-top: -10px;
          cursor: pointer; }
          body .nav-bar nav .social-bar li a {
            display: block;
            width: 100%;
            height: 100%;
            font-family: "Mono Social Icons Font";
            font-size: 40px;
            color: white;
            text-decoration: none;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear; }
            body .nav-bar nav .social-bar li a:hover {
              color: red; }
  body .content-container {
    position: relative;
    display: block;
    max-width: 1000px;
    height: auto;
    margin: 0 auto; }
    body .content-container section {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
    body .content-container #myVideo {
      position: relative;
      top: -5px;
      left: 50%;
      z-index: -1;
      min-width: 100%;
      min-height: 100%;
      text-align: center; }
  body footer {
    display: block;
    width: 100%;
    min-height: 100px;
    background-color: #181818;
    text-align: center;
    position: absolute;
    bottom: 0px; }
    body footer .footer-list {
      position: relative;
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      vertical-align: top;
      margin: 20px 50px; }
      body footer .footer-list .footer-list-item-title {
        font-size: 12px;
        color: #ffffff;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 2px; }
      body footer .footer-list .footer-list-item {
        font-size: 12px;
        color: #ffffff;
        bottom: 0px;
        text-align: left;
        text-transform: uppercase;
        line-height: 16px; }
        body footer .footer-list .footer-list-item a {
          color: #fff;
          text-decoration: none; }
  body.admin .menu, body.admin .social-bar, body.admin footer {
    display: none; }
  body.admin .button {
    cursor: pointer; }
  body.admin section.create form {
    width: 230px;
    border: 1px #d5d5d5 solid;
    margin: 100px auto;
    height: 320px;
    border-radius: 3px;
    display: block; }
  body.admin .modify-list {
    border: 1px #d5d5d5 dashed;
    padding: 5px;
    margin: 10px; }
    body.admin .modify-list ul {
      list-style-type: none;
      display: inline-block; }
    body.admin .modify-list li.title {
      font-weight: 500; }
    body.admin .modify-list span {
      width: 30px;
      height: 60px;
      color: #ffffff;
      display: inline-block;
      text-align: center;
      float: right;
      line-height: 60px;
      font-size: 30px;
      cursor: pointer; }
      body.admin .modify-list span.remove {
        background-color: red; }
      body.admin .modify-list span.edit {
        background-color: #a5a5a5; }
  body.admin form {
    position: relative;
    width: 400px;
    border: 1px #d5d5d5 solid;
    margin: 100px auto;
    height: 170px;
    border-radius: 3px;
    display: block; }
    body.admin form input {
      width: 100%;
      height: 50px;
      line-height: 20px;
      font-size: 18px;
      text-align: center; }
    body.admin form p {
      color: red;
      text-align: center;
      padding-top: 70px; }
    body.admin form span {
      position: absolute;
      z-index: 1;
      right: 40px;
      padding: 5px;
      background-color: red;
      margin: -22px auto;
      color: white; }

@media screen and (max-width: 1000px) {
  body .nav-bar nav h1 {
    text-indent: -9999px;
    background: url(../images/site/logo-transparent.png) no-repeat top right;
    background-size: 150px auto;
    font-size: 40px;
    margin-top: 5px; } }
