section.listing {
  width: 768px;
  height: 160px;
  display: block;
  margin: 10px;
  padding: 20px;
  border: 1px #d5d5d5 dashed;
  margin: 30px auto; }
  section.listing .gallery {
    clear: both;
    margin-top: 10px; }
    section.listing .gallery img {
      display: inline-block;
      width: auto;
      height: 150px; }
  section.listing span.details {
    display: block;
    background-color: red;
    padding: 5px 10px;
    float: right;
    margin-right: 0px;
    margin-top: -30px;
    font-size: 17px;
    color: #ffffff;
    padding-left: 40px; }
  section.listing span.title {
    display: block;
    background-color: dimgrey;
    padding: 5px 10px;
    font-size: 17px;
    float: left;
    margin-left: 0;
    margin-top: -30px;
    color: #ffffff;
    width: 66%;
    border-top-right-radius: 70px; }
