section.listing {
  width: 768px;
  height: 200px; }
  section.listing ul {
    list-style-type: none; }
    section.listing ul li {
      display: inline-block; }
  section.listing .gallery img {
    display: inline-block;
    width: 150px;
    height: 150px; }
