.listings {
  width: 768px;
  height: 200px; }
  .listings ul {
    list-style-type: none; }
    .listings ul li {
      display: inline-block; }
      .listings ul li img {
        display: block;
        width: 150px;
        height: 150px; }
