.listing {
  width: 768px;
  height: 200px; }
  .listing ul {
    list-style-type: none; }
    .listing ul li {
      display: inline-block; }
      .listing ul li img {
        display: block;
        width: 150px;
        height: 150px; }
