.specials .content-container .listing {
  width: 768px;
  height: 200px; }
  .specials .content-container .listing ul {
    list-style-type: none; }
    .specials .content-container .listing ul li {
      display: inline-block; }
      .specials .content-container .listing ul li img {
        display: block;
        width: 150px;
        height: 150px; }
